resource_server/test.db
client/.expo
client/node_modules
client/*.log
client/.nvm
client/bots/node_modules/
client/package-lock.json
client/.idea
client/.gradle
client/local.properties
client/*.iml
client/android/
client/ios/
client/ReactAndroid/src/androidTest/assets/AndroidTestBundle.js
client/*.js.meta
client/coverage
client/third-party
client/React/FBReactNativeSpec/FBReactNativeSpec
client/packages/react-native-codegen/lib
client/ReactCommon/react/renderer/components/rncore/
client/.vscode
client/.vs
client/*.hprof